[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = First github repository
[access "refs/*"]
	owner = group user/Olivier Normandin (oli-norms)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Olivier Normandin (oli-norms)
	label-Verified = -1..+1 group user/Olivier Normandin (oli-norms)
	push = group user/Olivier Normandin (oli-norms)
	read = group user/Olivier Normandin (oli-norms)
	rebase = group user/Olivier Normandin (oli-norms)
	removeReviewer = group user/Olivier Normandin (oli-norms)
	submit = group user/Olivier Normandin (oli-norms)
[access "refs/heads/*"]
	create = group user/Olivier Normandin (oli-norms)
	push = +force group user/Olivier Normandin (oli-norms)
	pushMerge = group user/Olivier Normandin (oli-norms)
	read = group user/Olivier Normandin (oli-norms)
[access "refs/tags/*"]
	push = group user/Olivier Normandin (oli-norms)
	push = +force group user/Olivier Normandin (oli-norms)
